<%= form_for(@sub) do |f| %>
  <% if @sub.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(@sub.errors.count, "error") %> prohibited this sub from being saved:</h2>
 -->
      <ul>
      <% @sub.errors.each_with_index do |message, i| %>
        <li><%= message[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group form-inline">
    
    <%= f.email_field :email, class: "form-control", autofocus: true, required: true, placeholder: "Email address..." %>
    <%= f.submit "Subscribe", class: "btn btn-success" %>
  </div>
  
    
  </div>
<% end %>
